:root {
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
  --main-title-color: #141414;
  --main-text-color: #fff;
  --avatar-language-color: #000;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1062px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: var(--font-family);
}
.header-position {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.header {
  background-color: brown;
  background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)), url("../images/header_avatar.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 204px;
  padding-right: 48px;
  border-bottom: 3px solid #fff;
}
.nav {
  margin-left: 184px;
}
.nav-list {
  display: flex;
  justify-content: center;
  column-gap: 38px;
}
.header-button {
  display: flex;
  background: #0b0e66;
  border: 2px solid #26c7ea;
  border-radius: 35px 0;
  width: 141px;
  height: 41px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  justify-content: center;
  align-items: center;
  color: #26c6ea;
  cursor: pointer;
  margin-left: auto;
}
.english, .ukrainian {
  font-family: var(--third-family);
font-weight: 400;
font-size: 16px;
text-align: center;
color: #fff;
display: flex;
align-items: center;
padding-left: 10px;
padding-right: 10px;
}
.nav-link {
  font-family: var(--font-family);
  color: var(--main-text-color);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.switcher {
  display: flex;
  justify-content: end;
}
/* !!!!!!!!!!!!!MAIN!!!!!!!!!!!!! */
.first-quote {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.first-quote-position {
  display: flex;
  justify-content: center;
}
.first-article-title {
  width: 1100px;
  margin-top: 75px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: center;
color: #0a3853;
}
.first-article-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: var(--avatar-language-color);
}
.first-article-text::after {
  content: "";
  display: block;
  width: 400px;
height: 120px;
background-image: url("../images/eagle_two_arrows.png");
background-repeat: no-repeat;
margin: 0 auto;
margin-bottom: 10px;
}
.avatar {
  background-image: url("../images/avatar_water.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
  padding-bottom: 179px;
}
.avatar-position {
  display: flex;
  justify-content: space-between;
}
.avatar-title {
  display: none;
}
.avatar-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  width: 260px;
  margin-top: 0px;
  margin-bottom: 6px;
}
.avatar-content {
  width: 376px;
  height: 381px;
}
.avatar-text1::after {
  content: "";
  display: block;
  width: 152px;
  height: 40px;
  background-image: url("../images/little_arraw.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.media-item {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 24px;
}
.media-list {
  padding-top: 96px;
}
.avatar-info-list {
  display: flex;
  column-gap: 36px;
  row-gap: 24px;
  flex-wrap: wrap;
}
.avatar-info-item {
  padding: 36px 28px;
  background: rgba(255, 255, 255, 0.7);
  flex-basis: calc((100% - 2 * 36px) / 3);
  height: 240px;
  padding-top: 0px;
}
.avatar-info-item:nth-child(1) {
  background-image: url("../images/left_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-info-item:nth-child(4) {
  background-image: url("../images/left_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-info-item:nth-child(2) {
  background-image: url("../images/little_eagle.png");
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-info-item:nth-child(5) {
  background-image: url("../images/little_eagle.png");
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-info-item:nth-child(3) {
  background-image: url("../images/right_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-info-item:nth-child(6) {
  background-image: url("../images/right_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-info-phrase {
  display: flex;
  justify-content: center;
font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-align: center;
color: #141414;
padding-top: 36px;
padding-bottom: 84px;
}
.avatar-info-translation {
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-align: justify;
color: #000;
padding-top: 40px;
}
.second-quote {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.second-container {
  display: flex;
  justify-content: center;
}
.second-article-title {
width: 857px;
font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: center;
color: #141414;
margin-left: auto;
margin-right: auto;
margin-top: 75px;
margin-bottom: 16px;

}
.second-article-text {
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-align: justify;
color: #000;
text-align: center;
}
.second-article-text::after {
    content: "";
  display: block;
  width: 400px;
  height: 120px;
  background-image: url("../images/eagle_two_arrows.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;
}
.third-quote {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.third-quote-position {
  display: flex;
  justify-content: center;
}
.third-article-title {
  width: 802px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: center;
color: #141414;
margin-top: 75px;
  display: flex;
  justify-content: center;
}
.third-article-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: #000;
text-align: center;
}
.third-article-text::after {
  content: "";
  display: block;
  width: 400px;
  height: 120px;
  background-image: url("../images/eagle_two_arrows.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;

}
/* !!!!!!!!NOT DISPLAY!!!!!!!!!!!!! */
.first-quote-title {
  display: none;
}
.second-quote-title {
  display: none;
}
.avatar-info-title {
  display: none;
}
.third-quote-title {
  display: none;
}
.footer-title {
  display: none;
}
.instagram {
  display: inline;
}
.twitter {
  display: inline;
}
.youtube {
  display: inline;
}
.video-title {
  display: none;
}
/* !!!!!!!Continue!!!!!!!!!!!!!! */
.avatar-info {
  background-image: url("../images/islands.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 704px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 58px;
  padding-bottom: 48px;
}
.avatar-info-second-title {
  font-family: var(--second-family);
font-weight: 400;
font-size: 32px;
text-align: center;
color: var(--main-title-color);
margin-bottom: 45px;
}
.avatar-button {
  border: 3px solid #26c7ea;
border-radius: 45px 0;
width: 260px;
height: 80px;
background-color: #0b0e66;
font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: #26c7ea;
margin-top: 42px;
cursor: pointer;
}
.video {
  background-image: url("../images/woman_avatar.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 741px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.trailer-position {
    display: flex;
  align-items: center;
  justify-content: center;
}
.video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: #26c7ea;
background: #0b0e66;
border: 3px solid #26c7ea;
border-radius: 45px 0;
width: 260px;
height: 80px;
cursor: pointer;
}
/* !!!!!!!!!Footer!!!!!!!!!!!!!! */
.footer {
  background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url("../images/footer_avatar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: 223px;
  padding-top: 35px;
  padding-bottom: 25px;
}
.footer-position {
  /* display: flex; */
}
.footer-final {
  display: flex;
}
.footer-line {
  width: 0px;
  height: 153px;
  border: 2px solid #fff;
  margin-right: 80px;
  margin-left: 80px;
}
.footer-first-div {
  border-top: 2px dashed #fff;
  /* stroke-width: 2px;
  stroke: #fff; */
  /* height: 0px; */
  width: 269px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
}
.footer-second-div {
border-top: 2px dashed #fff;
/* stroke-width: 2px;
stroke: #fff; */
/* height: 0px; */
width: 194px;
margin-left: 20px;
margin-right: 20px;
margin-top: 6px;
}
.footer-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
text-align: center;
color: var(--main-text-color);
}
/* .footer-text::after {
  content: "";
  stroke-width: 2px;
  stroke: #fff;
  width: 269px;
  height: 1px;
} */
.footer-rights {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
text-align: center;
color: var(--main-text-color);
display: flex;
align-items: end;
padding-left: 474px;
}
.footer-link {
  display: flex;
  align-items: center;
}
.footer-logo {
  /* padding-top: 42px; */
}
.footer-list {
  margin-top: 45px;
}
.footer-item {
  display: flex;
}
.footer-item:nth-child(1) {
    margin-bottom: 16px;
}